header {
  background-color: #ed181f;
  height: 120px;
  box-shadow: inset 0px 11px 34px -8px rgba(0, 0, 0, 0.81);
}

.global-header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  height: 100%;
}
.header-logo-box:hover {
  opacity: 0.8;
  cursor: pointer;
}

.header-logo-box > img {
  width: 100%;
}

.input-box {
  height: 30px;
  width: 300px;
}

.input-home,
.input-comics {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  font-size: 18px;
}
